@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(20px + 0.390625vw);
}

/* header and nav bar */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8vw;
  background-color: #3e3c3c;
  box-shadow: 0.3vw 0.5vw 2.5vw black;
}

.logo a {
  text-decoration: none;
}

.main-logo {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.9vw;
  line-height: 2vw;
  color: #fff;
}

.logo {
  margin-left: 3%;
}

.hamburgerMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  padding-right: 8vw;
}

.list-item {
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.8vw;
  line-height: 2vw;
  margin: 0;
  padding: 0 2.5vw;
}

.list-item a {
  text-decoration: none;
  color: #fff;
}

.list-item:hover,
button:hover {
  transform: translate(0.1vw, 0.1vw);
}

.list-item:focus {
  outline: 2px solid #fff;
}

.nav-items > li.list-item:focus {
  outline: 2px solid #fff;
}

.list-item:focus a {
  outline: none;
}

.hamburger-icon {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 5.3vw;
}

.hamburger-icon .bar {
  display: block;
  width: 2.5vw;
  height: 0.3vw;
  margin: 1.3vw auto;
  background-color: #e5e5e5;
  border-radius: 0.2vw;
}

/* main section */
.main-area {
  background-image: url('../images/main_section/Illustration-header.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  margin-top: 4vw;
  letter-spacing: 0.01em;
}

.main-header {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  color: #ff6b00;
  font-size: 4.67vw;
  line-height: 6.4vw;
  margin-bottom: 0.8vw;
}

.second-header {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.67vw;
  line-height: 3.2vw;
  color: #fff5e1;
  margin-bottom: 0.6vw;
}

.subtitle {
  display: block;
  margin-bottom: 0;
}

.main-description {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.07vw;
  line-height: 1.6vw;
  color: #fff;
  margin-top: 0.6vw;
}

.socialMediaIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.iconMedia:hover {
  transform: translate(0.08vw, 0.08vw);
}

/* My works section */
.work-section {
  margin-top: 3rem;
}

.second-title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #1c1a19;
  height: 83px;
  margin: 0 auto 4%;
  text-align: center;
}

.line_below_title {
  margin: 0 auto 8%;
  width: 90%;
  height: 0;
  border-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 2vw;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.main_card {
  background-color: white;
  text-align: left;
  height: 568px;
  padding: 1rem;
  gap: 24px;
}

.image_from_main_card {
  margin: 0 auto 8%;
  width: calc(14rem + 1.5rem);
}

.main-card-title {
  height: 36px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.main-card-description {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin: 16px 0;
}

.main_card ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main_card button {
  display: block;
  margin-top: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.button-from-main-card {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  padding: 12px;
  width: 150px;
  height: 48px;
  background: #943400;
  position: relative;
  text-align: left;
}

.button-from-main-card a.source-link {
  text-decoration: none;
  color: inherit;
}

.button-from-main-card a.demo-link {
  text-decoration: none;
  color: inherit;
}

.button-from-main-card a:hover {
  text-decoration: none;
  color: inherit;
}

.button-icon {
  position: absolute;
  right: 0.5rem;
  bottom: 0.8rem;
  height: 0.8rem;
}

.button-from-main-card:hover .button-icon {
  filter: invert(61%) sepia(96%) saturate(3260%) hue-rotate(15deg);
}

.button-from-main-card:focus {
  outline: solid 1px #000;
}

/* Main container CSS Grid */
.works-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-bottom: 110px;
}

/* Individual card with Flexbox */
.work-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  width: 327px;
  height: 386px;
}

.work-card:nth-child(1) {
  background: linear-gradient(
      160.45deg,
      rgba(38, 38, 38, 0.9) 99.75%,
      rgba(38, 38, 38, 0.9) 99.94%
    ),
    url(../images/projects/cardHover/1.svg);
}

.work-card:nth-child(2) {
  background: linear-gradient(
      160.45deg,
      rgba(38, 38, 38, 0.9) 99.75%,
      rgba(38, 38, 38, 0.9) 99.94%
    ),
    url(../images/projects/cardHover/2.svg);
}

.work-card:nth-child(3) {
  background: linear-gradient(
      160.45deg,
      rgba(38, 38, 38, 0.9) 99.75%,
      rgba(38, 38, 38, 0.9) 99.94%
    ),
    url(../images/projects/cardHover/3.svg);
}

.work-card:nth-child(4) {
  background: linear-gradient(
      160.45deg,
      rgba(38, 38, 38, 0.9) 99.75%,
      rgba(38, 38, 38, 0.9) 99.94%
    ),
    url(../images/projects/cardHover/4.svg);
}

.work-card:nth-child(5) {
  background: linear-gradient(
      160.45deg,
      rgba(38, 38, 38, 0.9) 99.75%,
      rgba(38, 38, 38, 0.9) 99.94%
    ),
    url(../images/projects/cardHover/5.svg);
}

.work-card:nth-child(6) {
  background: linear-gradient(
      160.45deg,
      rgba(38, 38, 38, 0.9) 99.75%,
      rgba(38, 38, 38, 0.9) 99.94%
    ),
    url(../images/projects/cardHover/6.svg);
}

.work-card:nth-child(1):hover {
  background: linear-gradient(
      160.45deg,
      rgba(38, 38, 38, 0) 99.75%,
      rgba(38, 38, 38, 0) 99.94%
    ),
    url(../images/projects/cardHover/1.svg);
}

.work-card:nth-child(2):hover {
  background: linear-gradient(
      160.45deg,
      rgba(38, 38, 38, 0) 99.75%,
      rgba(38, 38, 38, 0) 99.94%
    ),
    url(../images/projects/cardHover/2.svg);
}

.work-card:nth-child(3):hover {
  background: linear-gradient(
      160.45deg,
      rgba(38, 38, 38, 0) 99.75%,
      rgba(38, 38, 38, 0) 99.94%
    ),
    url(../images/projects/cardHover/3.svg);
}

.work-card:nth-child(4):hover {
  background: linear-gradient(
      160.45deg,
      rgba(38, 38, 38, 0) 99.75%,
      rgba(38, 38, 38, 0) 99.94%
    ),
    url(../images/projects/cardHover/4.svg);
}

.work-card:nth-child(5):hover {
  background: linear-gradient(
      160.45deg,
      rgba(38, 38, 38, 0) 99.75%,
      rgba(38, 38, 38, 0) 99.94%
    ),
    url(../images/projects/cardHover/5.svg);
}

.work-card:nth-child(6):hover {
  background: linear-gradient(
      160.45deg,
      rgba(38, 38, 38, 0) 99.75%,
      rgba(38, 38, 38, 0) 99.94%
    ),
    url(../images/projects/cardHover/6.svg);
}

.work-cards-title {
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-top: 84px;
  margin-left: 29px;
  margin-bottom: 14px;
}

.work-cards-description {
  width: 295px;
  height: 87px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 29px;
  margin-bottom: 13px;
}

/* List items */
.work-card li {
  margin: 0 6px;
  padding: 10px 14px;
  width: 105px;
  height: 40px;
  background: rgba(255, 255, 255, 0.23);
  border: 2px solid transparent;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin-right: 10px;
  background-position: center left;
}

.main_card ul li {
  padding: 10px 8px;
  margin-right: 15px;
  background: #fff;
  border: 1px solid #8993a4;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.work-card ul {
  display: flex;
  justify-content: left;
  list-style: none;
  padding: 0 20px;
  margin-bottom: 20px;
}

/* Button at the bottom of the card */
.button-card {
  width: 327px;
  height: 48px;
  left: 0;
  top: 0;
  background: #943400;
  border: none;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

/* About me section */
.about-me-main-container {
  width: 100%;
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: url('../images/me_section/Frame.png');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 100% 21%;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.about-me-title {
  width: 90%;
  max-width: 700px;
  height: 8vw;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 6vw;
  line-height: 8vw;
  letter-spacing: 0.37vw;
  color: #ff6b00;
  justify-self: center;
  align-self: center;
  margin-top: 8vw;
  margin-left: 5%;
}

.description-me-section {
  margin-top: 0.5rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 2.25vw;
  color: #f4f5f7;
  margin-left: 5%;
  margin-right: 5%;
}

.button-me-section {
  margin-top: 3vw;
  padding: 1.5vw;
  gap: 1vw;
  width: 42%;
  max-width: 270px;
  height: 8vw;
  background: #943400;
  color: #fff;
  cursor: pointer;
  font-weight: 1000;
  font-size: 1.5vw;
  line-height: 2.25vw;
  letter-spacing: 0.03em;
  border: 2px solid #fff;
}

.button-me-section:hover {
  border: solid 2px #fff;
}

.button-me-section:focus {
  outline: solid 2px #fff;
}

.line-from-about-me {
  width: 85%;
  height: 0;
  border: 1px solid gray;
  margin-top: 14vw;
  margin-left: 5%;
}

.ul-list-me-section {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 2.25vw;
  color: #f4f5f7;
  text-align: center;
  margin-top: 10vw;
}

.list-titles-one::before {
  content: '\25C6';
  color: #ff6b00;
  font-size: 6vw;
  margin-right: 1.5vw;
  vertical-align: middle;
}

.list-titles-two::before {
  content: '\25A0';
  color: #ff6b00;
  font-size: 6.3vw;
  margin-right: 3.6vw;
  vertical-align: 10%;
}

.list-titles-three::before {
  content: '\25CF';
  color: #ff6b00;
  font-size: 6.3vw;
  margin-right: 2.1vw;
}

.list-titles-one {
  margin-right: 1.389em;
  margin-left: -0.778em;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.667rem;
  line-height: 1.375;
  color: #fff;
}

.list-titles-two,
.list-titles-three {
  margin-right: 1.556em;
  margin-left: -0.778em;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.667rem;
  line-height: 1.375;
  color: #fff;
}

.li-list-me-section {
  margin: 1rem 0;
  list-style: none;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.952;
  color: #fff;
}

.about-me-section {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.333;
}

/* Contact me area */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6.25vw;
}

.contact-form__heading {
  width: 30vw;
  height: 18.75vw;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4.8vw;
  line-height: 5.5vw;
  text-align: center;
  color: #172b4d;
  margin-bottom: 30.1vw;
}

.contact-form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 78.125vw;
  width: 100%;
  padding: 2.5vw;
  border: none;
  border-radius: 1.5625vw;
}

.contact-form__group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hide_input {
  display: none;
}

.contact-form__group:nth-child(2),
.contact-form__group:nth-child(3) {
  margin-top: 1.5625vw;
}

.contact-form__input::placeholder {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.171875vw;
  line-height: 1.875vw;
  color: #979493;
  position: absolute;
  height: 1.40625vw;
  left: 1.0416667vw;
  right: 1.0416667vw;
  top: calc(26% - 1.40625vw / 2);
}

.contact-form__textarea::placeholder {
  color: #3c3a39;
}

.contact-form__input,
.contact-form__textarea {
  padding: 0.625vw;
  border: none;
  border-bottom: 0.0625vw solid #ccc;
  width: 100%;
  margin: 0.9375vw 0;
  height: 3.4375vw;
  font-size: 1.5625vw;
}

.contact-form__textarea {
  background-color: #fbf8f7;
  height: 8.4375vw;
  resize: none;
}

.contact-form__input:hover,
.contact-form__textarea:hover {
  outline: solid 0.0625vw #6fb4fe;
  border: none;
}

.contact-form__input:focus,
.contact-form__textarea:focus {
  outline: solid 0.0625vw #6fb4fe;
}

.contact-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9375vw;
  gap: 0.625vw;
  width: 16.3541667vw;
  height: 4.6875vw;
  background: #943400;
  margin-bottom: 6.875vw;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 1.5625vw;
  line-height: 2.1875vw;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  margin-top: 1.25vw;
}

.contact-form__button:hover {
  cursor: pointer;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
}

.contact-form__button:active {
  font-weight: 1000;
}

.contact-form__button:focus {
  outline: solid 1px #000;
}

.contact-form__button:disabled {
  padding: 0.75rem;
  gap: 0.625rem;
  width: 8.203125rem;
  height: 3rem;
  background: #f4f1f0;
  font-weight: 1000;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #5b5957;
  border: none;
  text-shadow: 1px 1px 2px #000;
}

/* footer section */
footer {
  padding: 0.5vw;
}

.footer_top_line {
  width: 100%;
  height: 0.1vw;
  border-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 1vw;
  margin-bottom: 1.3vw;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 24vw;
  margin: 0 auto;
}

.logo-container img {
  width: 1.5vw;
  margin: 1vw;
}

.logo-container img:hover {
  transform: translate(0.08vw, 0.08vw);
}

.footer_bottom_line {
  width: 12.5vw;
  height: 0.6vw;
  border-radius: 0.5vw;
  background-color: #333;
  margin-top: 1.3vw;
  margin-bottom: 0.8vw;
}

button:hover {
  background-color: #fff;
  cursor: pointer;
  border: solid 0.063rem #943b00;
  font-family: 'Inter', serif;
  font-style: normal;
  color: #943b00;
}

button:active {
  background-color: #7a2d00;
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px 2px #000;
}

button:disabled {
  padding: 0.75rem;
  gap: 0.625rem;
  width: 8.203125rem;
  height: 3rem;
  background: #f4f1f0;
  font-weight: 1000;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #5b5957;
  border: none;
  text-shadow: 1px 1px 2px #000;
}

body.popup-open::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Add a semi-transparent black background */
  backdrop-filter: blur(5px); /* Apply the blur effect */
  z-index: 998;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  width: 90%;
  min-width: 90%;
  max-height: 90%;
  border-radius: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-image {
  max-width: 100%;
}

.popup .popup-image {
  width: 14.2rem;
}

button.popup-close {
  position: absolute;
  top: 23px;
  right: -7rem;
  border: none;
  background: none;
  cursor: pointer;
}

.popup-close img {
  width: 29px;
  height: 29px;
  border: none;
  background: none;
}

.popup-header {
  font-size: 1.4rem;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.popup-description {
  margin-top: 1rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.popup-technologies {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
}

ul.popup-technologies li {
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid black;
}

.popup-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.popup-button {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  padding: 12px;
  height: 2.2rem;
  background: #ff6b00;
  position: relative;
  text-align: left;
}

.popup-button:hover {
  background-color: #000;
  cursor: pointer;
  border: solid 0.063rem #943b00;
  font-family: 'Inter', serif;
  font-style: normal;
  color: #943b00;
}

.popup-button:active {
  background-color: #7a2d00;
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px 2px #000;
}

.popup-button:disabled {
  padding: 0.75rem;
  gap: 0.625rem;
  width: 8.203125rem;
  height: 3rem;
  background: #f4f1f0;
  font-weight: 1000;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #5b5957;
  border: none;
  text-shadow: 1px 1px 2px #000;
}

.popup > .popup-header {
  order: 1;
}

.popup > .popup-technologies {
  order: 2;
  margin-top: 1.1rem;
}

.popup > .popup-image {
  order: 3;
}

.popup > .popup-description {
  order: 4;
  margin-top: 0.9rem;
}

.popup > .popup-buttons {
  order: 5;
  margin-top: 10px;
}

.popup > * {
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0;
}

.popup > .popup-buttons > * {
  width: 134px;
  height: 48px;
}

.popup > .popup-buttons > *:first-child {
  margin-right: 4%;
  text-decoration: none;
}

.popup > .popup-buttons > *:first-child > .popup-link-logo {
  margin-right: 0.9rem;
  margin-left: 0.2rem;
  position: absolute;
  right: 0.1rem;
  bottom: 0.7rem;
  height: 0.8rem;
}

.popup > .popup-buttons > *:last-child > .popup-link-logo {
  margin-left: 0.2rem;
  position: absolute;
  right: 0.3rem;
  bottom: 0.8rem;
  height: 0.8rem;
}

.popup > .popup-buttons > *:first-child:hover > .popup-link-logo {
  filter: invert(61%) sepia(96%) saturate(3260%) hue-rotate(15deg);
}

.popup > .popup-buttons > *:last-child {
  margin-left: 4%;
  text-decoration: none;
}

.popup > .popup-buttons > *:last-child:hover > .popup-link-logo {
  filter: invert(61%) sepia(96%) saturate(3260%) hue-rotate(15deg);
}

/* Media query for extra small screens */
@media only screen and (max-width: 600px) {
  /* header and nav bar */
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3.5vw 0;
  }

  .main-logo {
    font-size: 4.5vw;
    line-height: 6vw;
  }

  .logo {
    margin-left: 4vw;
    margin-bottom: 2vw;
  }

  .hamburgerMenu {
    align-items: flex-start;
    margin-right: 4vw;
  }

  .nav-items {
    display: none;
  }

  .list-item {
    font-size: 5vw;
    line-height: 6vw;
    padding: 2vw 0;
  }

  .mail-logo {
    display: none;
  }

  /* Mobile menu link */
  .mobile-menu a {
    color: #fff;
    text-decoration: none;
  }

  .list-item a:hover,
  button:hover {
    transform: none;
    box-shadow: none;
  }

  .hamburger-icon .bar {
    height: 0.6vw;
    width: 6vw;
  }

  /* Mobile menu */
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(60, 58, 57, 0.99);
    color: #fff;
    z-index: 999;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  /* Show mobile menu when active */
  .mobile-menu.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  /* Mobile menu list */
  .mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 800px; /* Enable 3D folding effect */
  }

  /* Mobile menu list item */
  .mobile-menu li {
    padding: 1rem 0;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1rem;
    text-align: center;
    position: relative;
    margin-bottom: 0.4rem;
    transform-origin: top;
    transform: rotateX(-90deg);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55),
      background-color 0.15s ease;
  }

  /* Mobile menu list item hover */
  .mobile-menu li:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  /* Staggered animation for menu items */
  .mobile-menu.active li:nth-child(1) {
    transition-delay: 0.2s;
  }
  .mobile-menu.active li:nth-child(2) {
    transition-delay: 0.3s;
  }
  .mobile-menu.active li:nth-child(3) {
    transition-delay: 0.4s;
  }
  .mobile-menu.active li:nth-child(4) {
    transition-delay: 0.5s;
  }
  /* Add more nth-child selectors for additional menu items */

  /* Show menu items when mobile menu is active */
  .mobile-menu.active li {
    transform: rotateX(0);
  }

  /* Mobile menu separator */
  .mobile-menu li:not(:last-child)::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 1px;
    background-color: #6f6c6b;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Close icon */
  .close-icon {
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    cursor: pointer;
    border: none;
    background: none;
    width: 13px;
    height: 13px;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  /* Close icon hover */
  .close-icon:hover {
    transform: rotate(90deg);
    opacity: 0.8;
  }

  /* Hamburger icon */
  .hamburger-icon {
    display: block;
    font-size: 2.5rem;
  }

  /* Show navigation items when mobile menu is active */
  .mobile-menu.active .nav-items {
    display: block;
  }

  /* main section */
  .main-area {
    background-image: url('../images/main_section/illustration-mobile.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 88vh;
    background-size: 33%;
    background-position: 98% 115%;
  }

  .main-section {
    align-items: center;
    text-align: center;
    margin-top: 3vw;
  }

  .main-header {
    font-size: 15vw;
    line-height: 18vw;
    margin-top: 10vw;
    text-align: start;
    padding: 0 6vw;
  }

  .second-header {
    font-size: 6.5vw;
    line-height: 12vw;
    text-align: start;
    padding: 0 6vw;
  }

  .main-description {
    font-size: 4.2vw;
    line-height: 7vw;
    text-align: start;
    padding: 0 6vw;
  }

  .socialMediaIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    margin-left: -30vw;
  }

  .my-icons-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    justify-content: flex-start;
  }

  .my-icons-list li {
    flex: 0 0 11%;
    margin: 0 1vw;
    text-align: center;
    padding: 5px;
  }

  .work-section {
    margin-top: 4rem;
  }

  .second-title {
    font-size: 1.5rem;
    line-height: 3.5rem;
    height: auto;
    margin-bottom: 0.1rem;
  }

  .line_below_title {
    margin-bottom: 1rem;
  }

  .card-container {
    margin-bottom: 7rem;
  }

  .work-card:nth-child(1):hover {
    background: linear-gradient(
        160.45deg,
        rgba(38, 38, 38, 0.9) 99.75%,
        rgba(38, 38, 38, 0.9) 99.94%
      ),
      url(../images/projects/cardHover/1.svg);
  }

  .work-card:nth-child(2):hover {
    background: linear-gradient(
        160.45deg,
        rgba(38, 38, 38, 0.9) 99.75%,
        rgba(38, 38, 38, 0.9) 99.94%
      ),
      url(../images/projects/cardHover/2.svg);
  }

  .work-card:nth-child(3):hover {
    background: linear-gradient(
        160.45deg,
        rgba(38, 38, 38, 0.9) 99.75%,
        rgba(38, 38, 38, 0.9) 99.94%
      ),
      url(../images/projects/cardHover/3.svg);
  }

  .work-card:nth-child(4):hover {
    background: linear-gradient(
        160.45deg,
        rgba(38, 38, 38, 0.9) 99.75%,
        rgba(38, 38, 38, 0.9) 99.94%
      ),
      url(../images/projects/cardHover/4.svg);
  }

  .work-card:nth-child(5):hover {
    background: linear-gradient(
        160.45deg,
        rgba(38, 38, 38, 0.9) 99.75%,
        rgba(38, 38, 38, 0.9) 99.94%
      ),
      url(../images/projects/cardHover/5.svg);
  }

  .work-card:nth-child(6):hover {
    background: linear-gradient(
        160.45deg,
        rgba(38, 38, 38, 0.9) 99.75%,
        rgba(38, 38, 38, 0.9) 99.94%
      ),
      url(../images/projects/cardHover/6.svg);
  }

  .main_card {
    padding: 0;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .image_from_main_card {
    margin: 0.1rem auto 0.5rem;
    width: calc(12rem + 1.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-card-title {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 44px;
    margin: 0.1rem 0.3rem;
    justify-content: center;
  }

  .main-card-description {
    font-family: 'Inter', serif;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #091e42;
    margin: 0.4rem auto;
    width: 95%;
  }

  .main_card ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.1rem auto;
    padding: 0;
    list-style: none;
  }

  .button-container {
    display: flex;
    gap: 10px;
  }

  .main-card-list-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
  }

  .main_card li {
    margin-bottom: 1rem;
    margin-right: 0;
    width: auto;
  }

  .main_card ul.main-card-list-ul li.main-card-list-ul-li {
    padding: 0.3rem 0.3rem;
    font-size: 0.6rem;
    line-height: 1rem;
    cursor: pointer;
    margin: 0.1rem 0.3rem;
  }

  .button-from-main-card {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 0.5rem;
    line-height: 0;
    letter-spacing: 0.03em;
    color: #fff;
    border: none;
    padding: 12px;
    width: 36%;
    margin: 0 auto;
    height: 48px;
    background: #943400;
    position: relative;
    text-align: left;
    max-width: 120px;
  }

  .button-icon {
    height: 0.7rem;
    bottom: 0.8rem;
  }

  /* About me section */
  .about-me-main-container {
    background-image: url('../images/me_section/Frame.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 100% 26%;
  }

  .about-me-title {
    font-size: 15vw;
    line-height: 12vw;
    margin-top: 22vw;
    margin-left: 0.5vw;
  }

  .description-me-section {
    font-size: 3.9vw;
    line-height: 6.4vw;
    margin-left: 0.5vw;
    margin-top: 6vw;
  }

  .button-me-section {
    margin-top: 5vw;
    padding: 4vw;
    width: 45vw;
    height: 14vw;
    font-size: 4vw;
    line-height: 4vw;
  }

  .line-from-about-me {
    margin-top: 60vw;
    margin-left: 10%;
    width: 80vw;
  }

  .ul-list-me-section {
    font-size: 4vw;
    line-height: 6vw;
    margin-top: 18vw;
    margin-bottom: 16vw;
    list-style: none;
  }

  .list-titles-one::before {
    font-size: 5vw;
    margin-right: 2vw;
  }

  .list-titles-two::before {
    font-size: 5.4vw;
    margin-right: 2vw;
  }

  .list-titles-three::before {
    font-size: 6vw;
    margin-right: 2vw;
  }

  .list-titles-one {
    font-size: 5vw;
    line-height: 6vw;
  }

  .list-titles-two,
  .list-titles-three {
    font-size: 5vw;
    line-height: 6vw;
  }

  .li-list-me-section {
    margin-top: 4vw;
    margin-right: 6vw;
    font-size: 3.5vw;
    line-height: 4.5vw;
  }

  .about-me-section {
    font-size: 4vw;
    line-height: 6vw;
  }

  .contact-form {
    margin-top: 20vw;
  }

  .contact-form__heading {
    width: 92vw;
    font-size: 8vw;
    line-height: 9.5vw;
    margin-bottom: 25vw;
  }

  .contact-form__input::placeholder,
  .contact-form__textarea::placeholder {
    font-size: 3vw;
    line-height: 4vw;
    height: 4vw;
    top: 15%;
  }

  .contact-form__input,
  .contact-form__textarea {
    font-size: 3vw;
    height: 12vw;
    margin: 5vw 0;
  }

  .contact-form__textarea {
    height: 30vw;
  }

  .contact-form__button {
    width: 33vw;
    height: 11vw;
    font-size: 4vw;
    line-height: 4.5vw;
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22vw;
  }

  .contact-form__button:hover {
    font-size: 4vw;
    line-height: 4.5vw;
    letter-spacing: 0.03em;
  }

  .contact-form__button:disabled {
    font-size: 4vw;
    line-height: 4.5vw;
    letter-spacing: 0.03em;
  }

  footer {
    padding: 1.5vw 0.5vw;
    display: flex;
    flex-direction: column;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .logo-container img {
    width: 3.5vw;
    margin: 1.5vw;
  }

  .footer_bottom_line {
    width: 24vw;
    height: 1vw;
    margin-top: 2vw;
  }

  /* popup */
  .popup {
    width: 70%;
    max-height: 100%;
  }

  ul.popup-technologies li {
    margin-bottom: 8px;
    margin-top: 7px;
  }

  .popup-button {
    font-size: 0.7rem;
    height: 1.8rem;
  }

  .popup-button > .popup-link-logo {
    height: 0.6rem;
    bottom: 0.5rem;
  }
}

/* Media query for small screens */
@media only screen and (min-width: 540px) and (max-width: 768px) {
  /* header and nav bar */
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3.5vw 0;
  }

  .main-logo {
    font-size: 4.5vw;
    line-height: 6vw;
  }

  .logo {
    margin-left: 4vw;
    margin-bottom: 2vw;
  }

  .hamburgerMenu {
    align-items: flex-start;
    margin-right: 4vw;
  }

  .nav-items {
    display: none;
  }

  .list-item {
    font-size: 5vw;
    line-height: 6vw;
    padding: 2vw 0;
  }

  /* Mobile menu link */
  .mobile-menu a {
    color: #fff;
    text-decoration: none;
  }

  .list-item a:hover,
  button:hover {
    transform: none;
    box-shadow: none;
  }

  .hamburger-icon .bar {
    height: 0.6vw;
    width: 6vw;
  }

  .mail-logo {
    display: none;
  }

  /* Mobile menu */
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(60, 58, 57, 0.99);
    color: #fff;
    z-index: 999;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  /* Show mobile menu when active */
  .mobile-menu.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  /* Mobile menu list */
  .mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 800px; /* Enable 3D folding effect */
  }

  /* Mobile menu list item */
  .mobile-menu li {
    padding: 1rem 0;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1rem;
    text-align: center;
    position: relative;
    margin-bottom: 0.4rem;
    transform-origin: top;
    transform: rotateX(-90deg);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55),
      background-color 0.15s ease;
  }

  /* Mobile menu list item hover */
  .mobile-menu li:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  /* Staggered animation for menu items */
  .mobile-menu.active li:nth-child(1) {
    transition-delay: 0.2s;
  }
  .mobile-menu.active li:nth-child(2) {
    transition-delay: 0.3s;
  }
  .mobile-menu.active li:nth-child(3) {
    transition-delay: 0.4s;
  }
  .mobile-menu.active li:nth-child(4) {
    transition-delay: 0.5s;
  }
  /* Add more nth-child selectors for additional menu items */

  /* Show menu items when mobile menu is active */
  .mobile-menu.active li {
    transform: rotateX(0);
  }

  /* Mobile menu separator */
  .mobile-menu li:not(:last-child)::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 1px;
    background-color: #6f6c6b;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Close icon */
  .close-icon {
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    cursor: pointer;
    border: none;
    background: none;
    width: 13px;
    height: 13px;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  /* Close icon hover */
  .close-icon:hover {
    transform: rotate(90deg);
    opacity: 0.8;
  }

  /* Hamburger icon */
  .hamburger-icon {
    display: block;
    font-size: 2.5rem;
  }

  /* Show navigation items when mobile menu is active */
  .mobile-menu.active .nav-items {
    display: block;
  }

  /* main section */
  .main-area {
    background-image: url('../images/main_section/illustration-mobile.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 115vh;
    background-size: 33%;
    background-position: 100% 109%;
  }

  .main-section {
    align-items: center;
    text-align: center;
    margin-top: 10vw;
  }

  .main-header {
    font-size: 15vw;
    line-height: 18vw;
    text-align: start;
    padding: 0 6vw;
  }

  .second-header {
    font-size: 6vw;
    line-height: 12vw;
    text-align: start;
    padding: 0 6vw;
  }

  .main-description {
    font-size: 4vw;
    line-height: 7vw;
    text-align: start;
    padding: 0 6vw;
  }

  .socialMediaIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    margin-right: 54vw;
  }

  .my-icons-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    justify-content: flex-start;
  }

  .my-icons-list li {
    flex: 0 0 11%;
    margin: 0 1vw;
    text-align: center;
    padding: 5px;
  }

  /* My works section */
  .work-section {
    margin-top: 15vh;
  }

  .second-title {
    font-size: 10.6vw;
    line-height: 23vw;
    height: auto;
    margin-bottom: 3vw;
  }

  .line_below_title {
    margin-bottom: 6vw;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10vw;
  }

  .work-card:nth-child(1):hover {
    background: linear-gradient(
        160.45deg,
        rgba(38, 38, 38, 0.9) 99.75%,
        rgba(38, 38, 38, 0.9) 99.94%
      ),
      url(../images/projects/cardHover/1.svg);
  }

  .work-card:nth-child(2):hover {
    background: linear-gradient(
        160.45deg,
        rgba(38, 38, 38, 0.9) 99.75%,
        rgba(38, 38, 38, 0.9) 99.94%
      ),
      url(../images/projects/cardHover/2.svg);
  }

  .work-card:nth-child(3):hover {
    background: linear-gradient(
        160.45deg,
        rgba(38, 38, 38, 0.9) 99.75%,
        rgba(38, 38, 38, 0.9) 99.94%
      ),
      url(../images/projects/cardHover/3.svg);
  }

  .work-card:nth-child(4):hover {
    background: linear-gradient(
        160.45deg,
        rgba(38, 38, 38, 0.9) 99.75%,
        rgba(38, 38, 38, 0.9) 99.94%
      ),
      url(../images/projects/cardHover/4.svg);
  }

  .work-card:nth-child(5):hover {
    background: linear-gradient(
        160.45deg,
        rgba(38, 38, 38, 0.9) 99.75%,
        rgba(38, 38, 38, 0.9) 99.94%
      ),
      url(../images/projects/cardHover/5.svg);
  }

  .work-card:nth-child(6):hover {
    background: linear-gradient(
        160.45deg,
        rgba(38, 38, 38, 0.9) 99.75%,
        rgba(38, 38, 38, 0.9) 99.94%
      ),
      url(../images/projects/cardHover/6.svg);
  }
  .main_card {
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .image_from_main_card {
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-card-title {
    font-size: 2rem;
    line-height: 2rem;
    justify-content: center;
  }

  .main-card-description {
    font-size: 3.6vw;
    line-height: 7vw;
    margin: 0.4rem auto;
  }

  .main-card-list-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .main_card li {
    margin-bottom: 1.5vw;
    margin-right: 0;
    padding: 1vw;
    width: auto;
  }

  .main_card ul.main-card-list-ul li.main-card-list-ul-li {
    padding: 2vw 3vw;
    font-size: 3.5vw;
    line-height: 3vw;
    cursor: pointer;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .button-from-main-card {
    font-size: 0.8rem;
    line-height: 0.5vw;
    padding: 1.4rem;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: left;
    max-width: 190px;
  }

  .button-icon {
    height: 0.9rem;
    bottom: 0.9rem;
  }

  /* Main container with Flexbox */
  .works-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 17vw;
  }

  /* Individual card with CSS Grid */
  .work-card {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr 2fr 1fr;
    width: 327px;
    height: 386px;
    margin: 1vw 1.5vw 1vw 1.5vw;
  }

  .work-cards-title {
    font-size: 4.5vw;
    line-height: 5vw;
    text-align: start;
    margin-left: 20px;
    margin-top: 85px;
    width: 75%;
  }

  .work-cards-description {
    font-size: 69%;
    line-height: 1rem;
    text-align: start;
    margin-left: 20px;
    width: 90%;
    margin-bottom: 5px;
  }

  /* List items */
  .work-card li {
    font-size: 50%;
    line-height: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
  }

  .work-card ul {
    padding: 0;
    margin-top: 1px;
    margin-bottom: 6px;
    margin-left: 14px;
  }

  /* Button at the bottom of the card */
  .button-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }

  .button-card button {
    font-size: 2vw;
    line-height: 3vw;
    cursor: pointer;
  }

  /* About me section */
  .about-me-main-container {
    background-image: url('../images/me_section/Frame.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 100% 20%;
  }

  .about-me-title {
    margin-top: 18vw;
    margin-bottom: 2vw;
    font-size: 15vw;
    line-height: 8vw;
  }

  .description-me-section {
    font-size: 3.8vw;
    line-height: 5.5vw;
  }

  .button-me-section {
    margin-top: 6vw;
    padding: 1vw;
    font-size: 2.8vw;
    line-height: 3vw;
  }

  .line-from-about-me {
    margin-top: 44vw;
    width: 86vw;
  }

  .ul-list-me-section {
    font-size: 1vw;
    line-height: 3vw;
    margin-top: 15vw;
    margin-bottom: 16vw;
    list-style: none;
  }

  .list-titles-one::before {
    font-size: 8vw;
    margin-right: 1vw;
  }

  .list-titles-two::before {
    font-size: 10vw;
    margin-right: 3vw;
  }

  .list-titles-three::before {
    font-size: 10vw;
    margin-right: 1.5vw;
  }

  .list-titles-one {
    font-size: 10vw;
    margin: 0 6vw 0 0;
  }

  .list-titles-two,
  .list-titles-three {
    font-size: 10vw;
    margin: 0 6vw 0 0;
  }

  .li-list-me-section {
    font-size: 4vw;
    line-height: 7vw;
  }

  .about-me-section {
    font-size: 2rem;
    line-height: 1.8rem;
  }

  .contact-form__heading {
    width: 87vw;
    font-size: 7vw;
    line-height: 9vw;
    margin-top: 20vw;
    margin-bottom: 28vw;
  }

  .contact-form__input::placeholder {
    font-size: 0.5rem;
    line-height: 2vw;
    height: 2vw;
    top: calc(26% - 2vw / 2);
  }

  .contact-form__input,
  .contact-form__textarea {
    font-size: 4vw;
    height: 10vw;
    margin: 5vw 0;
  }

  .contact-form__textarea {
    height: 15vw;
  }

  .contact-form__button {
    width: 26vw;
    height: 9.5vw;
    padding: 1vw;
    font-size: 3.2vw;
    line-height: 3vw;
    margin-bottom: 21vw;
  }

  footer {
    padding: 1.5vw 0.5vw;
    display: flex;
    flex-direction: column;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .logo-container img {
    width: 3.5vw;
    margin: 1.5vw;
  }

  .footer_bottom_line {
    width: 22vw;
    height: 1vw;
    margin-top: 2vw;
  }

  /* Popup */
  .popup {
    width: 70%;
    max-height: 100%;
  }

  .popup .popup-image {
    width: 12rem;
  }

  button.popup-close {
    position: absolute;
    top: 23px;
    right: -9.9rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  .popup-header {
    font-size: 1.9rem;
    margin-top: 0.1rem;
  }

  .popup-description {
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
  }

  .popup-technologies {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
  }

  ul.popup-technologies li {
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid black;
  }

  .popup-button {
    font-size: 0.6rem;
    height: 2rem;
  }

  .popup-button > .popup-link-logo {
    height: 0.7rem;
    bottom: 0.7rem;
  }

  .popup > .popup-buttons > *:first-child {
    margin-right: 4%;
  }

  .popup > .popup-buttons > *:last-child {
    margin-right: 4%;
  }
}

/* Media query for medium screens */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* header and nav bar */
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3.5vw 0;
    height: 6vw;
  }

  .main-logo {
    font-size: 2vw;
    line-height: 3.6vw;
  }

  .logo {
    margin-left: 9vw;
    margin-bottom: 1vw;
  }

  .list-item {
    font-size: 1vw;
    line-height: 3vw;
    padding: 0 1.5vw;
  }

  /* Mobile button */
  .close-icon {
    display: none;
  }

  .hamburger-icon.hidden {
    display: none;
  }

  /* main section */
  .main-area {
    background-image: url('../images/main_section/Illustration-header.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 110vh;
    background-color: #000;
    background-size: 45%;
    background-position: 101% 80%;
    position: relative;
  }

  .main-section {
    align-items: center;
    text-align: center;
    margin-top: 4vw;
    padding-left: 2%;
  }

  .main-header {
    font-size: 4.6vw;
    line-height: 5.5vw;
    text-align: start;
    padding: 0 7vw;
    margin-top: 4vw;
  }

  .second-header {
    font-size: 2.1vw;
    line-height: 4vw;
    text-align: start;
    padding: 0 7vw;
  }

  .main-description {
    font-size: 1.9vw;
    line-height: 3vw;
    text-align: start;
    padding: 0 7vw;
    width: 58%;
  }

  .socialMediaIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    margin: 8vw -1.6vw;
  }

  .my-icons-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    justify-content: flex-start;
  }

  .my-icons-list li {
    flex: 0 0 50%;
    margin: 0 0.1vw;
    text-align: center;
    padding: 5px;
    font-size: 1.5vw;
    transform: scale(0.8);
  }

  /* My works section */
  .work-section {
    margin-top: 0.7vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .section-title-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.1vw;
    width: 90%;
    margin-left: 6vw;
  }

  .second-title {
    font-size: 3.5vw;
    line-height: 23vw;
    height: auto;
    margin-right: 2vw;
  }

  .line_below_title {
    flex: 1;
    height: 1px;
    background-color: #000;
    margin: 0;
    margin-right: 2vw;
    transform: translateY(-0.5rem);
  }

  .card-container {
    margin-top: -7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding: 3vw;
  }

  .main_card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: -283px;
  }

  .image-container {
    display: flex;
    flex-direction: column;
  }

  .image_from_main_card {
    width: 12rem;
    margin: 0;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .main-card-title {
    font-size: 2.6vw;
    margin: 0;
  }

  .main-card-description {
    margin-top: 0.5vw;
    height: auto;
    font-size: 1.5vw;
    line-height: 2.1vw;
  }

  .main-card-list-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .main_card li {
    margin-bottom: 0;
    margin-right: 0;
    padding: 1vw;
    width: auto;
  }

  .main_card ul.main-card-list-ul li.main-card-list-ul-li {
    padding: 0.6vw 0.7vw;
    font-size: 1vw;
    line-height: 1vw;
    cursor: pointer;
  }

  .button-from-main-card {
    font-size: 0.5rem;
    line-height: 0.5vw;
    padding: 0.6rem;
    width: 4.8rem;
    height: 1.6rem;
    text-align: left;
  }

  .button-icon {
    height: 0.5rem;
    bottom: 0.6rem;
  }

  .works-container {
    margin-bottom: 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .work-card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 327px;
    margin: 0;
  }

  .work-cards-title {
    font-size: 100%;
    line-height: 4vw;
    text-align: start;
    margin-left: 20px;
    margin-top: 160px;
    width: 75%;
  }

  .work-cards-description {
    font-size: 60%;
    line-height: 3vw;
    text-align: start;
    margin-left: 20px;
    width: 88%;
    margin-top: -22px;
    margin-bottom: 2px;
  }

  /* List items */
  .work-card li {
    font-size: 40%;
    line-height: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21%;
  }

  .work-card ul {
    margin-left: 11px;
    padding: 0;
    margin-top: 1px;
  }

  /* Button at the bottom of the card */
  .button-card {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    display: none;
  }

  .button-card button {
    font-size: 2vw;
    line-height: 3vw;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    display: none;
  }

  .work-card:hover .button-card button {
    font-size: 2vw;
    line-height: 3vw;
    padding: 100px 60px;
    cursor: pointer;
  }

  .work-card:hover .button-card {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    transform: translateY(662%);
    width: 100vw;
    cursor: pointer;
  }

  .work-card:hover .work-cards-title,
  .work-card:hover .work-cards-description,
  .work-card:hover ul {
    display: none;
    cursor: pointer;
  }

  /* About me section */
  .about-me-main-container {
    background-image: url('../images/me_section/desktop-frame.png');
    background-repeat: no-repeat;
    background-size: 39%;
    background-position: 100% 8%;
  }

  .about-me-title {
    margin-top: 5.5vw;
    margin-bottom: -3vw;
    font-size: 5.2vw;
    line-height: 7vw;
  }

  .description-me-section {
    font-size: 1.3vw;
    line-height: 3.1vw;
    width: 42vw;
  }

  .button-me-section {
    margin-top: 2.5vw;
    padding: 0.1vw;
    font-size: 1vw;
    line-height: 2vw;
    height: 3.2vw;
    width: 11vw;
  }

  .line-from-about-me {
    margin-top: 7vw;
    width: 86vw;
  }

  .ul-list-me-section {
    margin-top: 7vw;
    margin-bottom: 12vw;
    list-style: none;
  }

  .container {
    display: flex;
    justify-content: space-around;
    margin-left: -40px;
  }

  .container > div {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .container > div h4 {
    margin-top: 0;
  }

  ul.popup-technologies li {
    margin-bottom: 25px;
    margin-top: -16px;
  }

  .container > div:nth-child(1) h4 {
    font-size: 2.8vw;
    margin-left: 2vw;
  }

  .container > div:nth-child(1) ul {
    margin-left: 2.5vw;
  }

  .container > div:nth-child(1) ul li {
    font-size: 2vw;
    line-height: 2vw;
    display: flex;
    align-items: center;
  }

  .container > div:nth-child(2) h4 {
    font-size: 2.5vw;
    margin-left: 0.1vw;
  }

  .container > div:nth-child(2) ul {
    margin: 0;
    padding: 0;
  }

  .container > div:nth-child(2) ul li {
    font-size: 2vw;
    line-height: 2vw;
    display: flex;
    align-items: center;
  }

  .container > div:nth-child(3) h4 {
    font-size: 2.5vw;
    margin-left: 0.1vw;
  }

  .container > div:nth-child(3) ul {
    margin: 0;
    padding: 0;
  }

  .container > div:nth-child(3) ul li {
    font-size: 2vw;
    line-height: 2vw;
    display: flex;
    align-items: center;
  }

  .list-titles-one::before {
    font-size: 3.4vw;
    margin-right: 10px;
    vertical-align: middle;
  }

  .list-titles-two::before {
    font-size: 3.4vw;
    margin-right: 17px;
    vertical-align: middle;
    position: relative;
    top: -0.6vw;
  }

  .list-titles-three::before {
    font-size: 3.4vw;
    margin-right: 12px;
    vertical-align: middle;
    position: relative;
    top: -0.4vw;
  }

  .contact-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 10vw;
    margin-bottom: 1vw;
    margin-left: 2vw;
  }

  .contact-form__heading {
    font-size: 2.9vw;
    line-height: 3.5vw;
    margin-top: 6vw;
    text-align: left;
  }

  .contact-form__form {
    flex: 0 0 56%;
  }

  .contact-form__group {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .contact-form__input,
  .contact-form__textarea {
    width: 100%;
    margin-top: 3vw;
  }

  .contact-form__input::placeholder,
  .contact-form__textarea::placeholder {
    font-size: 1.5vw;
    line-height: 2.5vw;
    height: 4vw;
  }

  .contact-form__textarea {
    height: 15vw;
  }

  .contact-form__button {
    align-self: flex-start;
    margin-top: 2vw;
    margin-bottom: 10vw;
    width: 13vw;
    font-size: 1.5vw;
    margin-left: 2.5vw;
  }

  .contact-form__button:hover {
    font-size: 1.5vw;
  }

  .contact-form__button:active {
    font-size: 1.5vw;
  }

  .contact-form__button :disabled {
    font-size: 1.5vw;
  }

  footer {
    padding: 1.5vw 0.5vw;
    display: flex;
    flex-direction: column;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .logo-container img {
    width: 1.9vw;
    margin: 1.5vw;
  }

  .footer_bottom_line {
    width: 22vw;
    height: 1vw;
    margin-top: 2vw;
    display: none;
  }

  /* popup */
  .popup {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 400px;
    width: 750px;
    max-height: 100%;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
  }

  button.popup-close {
    position: absolute;
    top: 23px;
    right: -15rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  .popup-header {
    font-size: 1.4rem;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
  }

  .popup-image {
    width: 5rem;
    margin-right: 1px;
  }

  .popup > .popup-description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 0.6rem;
    width: 50%;
    margin: 0.2rem 0 0 -1rem;
  }

  .popup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateX(6rem);
  }

  .popup-button {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 0.5rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    color: #fff;
    border: none;
    padding: 12px;
    height: 2.2rem;
    background: #ff6b00;
    position: relative;
    text-align: left;
    width: 100%;
    max-width: 110px;
    margin: -2.7rem 0 0.1rem 0;
  }

  .popup-button:hover {
    background-color: #fff;
    cursor: pointer;
    border: solid 0.063rem #943b00;
    font-family: 'Inter', serif;
    font-style: normal;
    color: #943b00;
  }

  .popup-button:active {
    background-color: #7a2d00;
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 1px 2px #000;
  }

  .popup-button:disabled {
    padding: 0.75rem;
    gap: 0.625rem;
    width: 8.203125rem;
    height: 3rem;
    background: #f4f1f0;
    font-weight: 1000;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    color: #5b5957;
    border: none;
    text-shadow: 1px 1px 2px #000;
  }

  .popup-technologies {
    list-style: none;
    padding: 0;
    width: 100%;
  }

  .popup.ul.popup.popup-technologies li {
    margin-bottom: 30px;
    margin-right: 10px;
    margin-top: -20px;
    padding: 5px;
    border: 1px solid black;
  }
}

/* Media query for large screens */
@media only screen and (min-width: 1025px) {
  /* header and nav bar */
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3.5vw 0;
    height: 6vw;
  }

  .main-logo {
    font-size: 1.5vw;
    line-height: 3.6vw;
  }

  .logo {
    margin-left: 9vw;
    margin-bottom: 1vw;
  }

  .list-item {
    font-size: 1.2vw;
    line-height: 3vw;
    padding: 0 1.5vw;
  }

  /* Mobile button */
  .close-icon {
    display: none;
  }

  .hamburger-icon.hidden {
    display: none;
  }

  /* main section */
  .main-area {
    background-image: url('../images/main_section/Illustration-header.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 115vh;
    background-color: #000;
    background-size: 46%;
    background-position: 100% 80%;
    position: relative;
  }

  .main-section {
    align-items: center;
    text-align: center;
    margin-top: 4vw;
    padding-left: 2%;
  }

  .main-header {
    font-size: 4.6vw;
    line-height: 5.5vw;
    text-align: start;
    padding: 0 7vw;
    margin-top: 4vw;
  }

  .second-header {
    font-size: 2.1vw;
    line-height: 4vw;
    text-align: start;
    padding: 0 7vw;
  }

  .main-description {
    font-size: 1.9vw;
    line-height: 3vw;
    text-align: start;
    padding: 0 7vw;
    width: 58%;
  }

  .socialMediaIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    margin: 11vw 0.2vw;
  }

  .my-icons-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    justify-content: flex-start;
  }

  .my-icons-list li {
    flex: 0 0 50%;
    margin: 0 0.1vw;
    text-align: center;
    padding: 5px;
    font-size: 1.5vw;
    transform: scale(1);
  }

  /* My works section */
  .work-section {
    margin-top: 0.7vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .section-title-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.1vw;
    width: 90%;
    margin-left: 6vw;
  }

  .second-title {
    font-size: 3.5vw;
    line-height: 23vw;
    height: auto;
    margin-right: 2vw;
  }

  .line_below_title {
    flex: 1;
    height: 1px;
    background-color: #000;
    margin: 0;
    margin-right: 2vw;
    transform: translateY(-1rem);
  }

  .card-container {
    margin-top: -7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vw;
    margin-bottom: 1.6rem;
  }

  .main_card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: -19vw;
  }

  .image-container {
    display: block;
    flex-direction: column;
  }

  .image_from_main_card {
    width: 15rem;
    margin: 0;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .main-card-title {
    font-size: 3.5vw;
    margin: 0;
  }

  .main-card-description {
    margin-top: 0.8vw;
    height: auto;
    font-size: 1.7vw;
    line-height: 2.8vw;
  }

  .main-card-list-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .main_card li {
    margin-bottom: 0;
    margin-right: 0;
    padding: 1vw;
    width: auto;
  }

  .main_card ul.main-card-list-ul li.main-card-list-ul-li {
    padding: 0.6vw 0.7vw;
    font-size: 1vw;
    line-height: 1vw;
    cursor: pointer;
  }

  .button-from-main-card {
    font-size: 0.7rem;
    line-height: 0.5vw;
    padding: 0.8rem;
    width: 6.4rem;
    height: 1.9rem;
    text-align: left;
  }

  .button-icon {
    height: 0.6rem;
    bottom: 0.7rem;
  }

  .works-container {
    margin-bottom: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .work-card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 327px;
    margin: 0;
  }

  .work-cards-title {
    font-size: 80%;
    line-height: 2vw;
    text-align: start;
    margin-left: 20px;
    margin-top: 160px;
    width: 75%;
  }

  .work-cards-description {
    font-size: 55%;
    line-height: 2vw;
    text-align: start;
    margin-left: 20px;
    width: 88%;
    margin-top: -22px;
    margin-bottom: 2px;
  }

  /* List items */
  .work-card li {
    font-size: 40%;
    line-height: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21%;
  }

  .work-card ul {
    margin-left: 11px;
    padding: 0;
    margin-top: 10px;
  }

  /* Button at the bottom of the card */
  .button-card {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    display: none;
  }

  .button-card button {
    font-size: 2vw;
    line-height: 3vw;
    cursor: pointer;
  }

  .work-card:hover .button-card button {
    font-size: 2vw;
    line-height: 3vw;
    cursor: pointer;
    padding: 100px 60px;
  }

  .work-card:hover .button-card {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    transform: translateY(662%);
    width: 100vw;
    cursor: pointer;
  }

  .work-card:hover .work-cards-title,
  .work-card:hover .work-cards-description,
  .work-card:hover ul {
    display: none;
    cursor: pointer;
  }

  /* About me section */
  .about-me-main-container {
    background-image: url('../images/me_section/desktop-frame.png');
    background-repeat: no-repeat;
    background-size: 39%;
    background-position: 100% 8%;
  }

  .about-me-title {
    margin-top: 5.5vw;
    margin-bottom: -3vw;
    font-size: 5.2vw;
    line-height: 7vw;
  }

  .description-me-section {
    font-size: 1.3vw;
    line-height: 3.1vw;
    width: 42vw;
  }

  .button-me-section {
    margin-top: 2.5vw;
    padding: 0.1vw;
    font-size: 1vw;
    line-height: 2vw;
    height: 3.2vw;
    width: 11vw;
  }

  .line-from-about-me {
    margin-top: 7vw;
    width: 86vw;
  }

  .ul-list-me-section {
    margin-top: 7vw;
    margin-bottom: 12vw;
    list-style: none;
  }

  .container {
    display: flex;
    justify-content: space-around;
    margin-left: -40px;
  }

  .container > div {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .container > div h4 {
    margin-top: 0;
  }

  .container > div:nth-child(1) h4 {
    font-size: 2.8vw;
    margin-left: 2vw;
  }

  .container > div:nth-child(1) ul {
    margin-left: 2.5vw;
  }

  .container > div:nth-child(1) ul li {
    font-size: 2vw;
    line-height: 2vw;
    display: flex;
    align-items: center;
  }

  .container > div:nth-child(2) h4 {
    font-size: 2.5vw;
    margin-left: 0.1vw;
  }

  .container > div:nth-child(2) ul {
    margin: 0;
    padding: 0;
  }

  .container > div:nth-child(2) ul li {
    font-size: 2vw;
    line-height: 2vw;
    display: flex;
    align-items: center;
  }

  .container > div:nth-child(3) h4 {
    font-size: 2.5vw;
    margin-left: 0.1vw;
  }

  .container > div:nth-child(3) ul {
    margin: 0;
    padding: 0;
  }

  .container > div:nth-child(3) ul li {
    font-size: 2vw;
    line-height: 2vw;
    display: flex;
    align-items: center;
  }

  .popup-container .popup ul.popup-technologies li {
    margin-bottom: 30px;
    margin-right: 10px;
    margin-top: -20px;
    padding: 5px;
    border: 1px solid black;
  }

  .list-titles-one::before {
    font-size: 3.4vw;
    margin-right: 10px;
    vertical-align: middle;
  }

  .list-titles-two::before {
    font-size: 3.4vw;
    margin-right: 17px;
    vertical-align: middle;
    position: relative;
    top: -0.6vw;
  }

  .list-titles-three::before {
    font-size: 3.4vw;
    margin-right: 12px;
    vertical-align: middle;
    position: relative;
    top: -0.4vw;
  }

  .contact-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 10vw;
    margin-bottom: 1vw;
    margin-left: 2vw;
  }

  .contact-form__heading {
    font-size: 2.9vw;
    line-height: 3.5vw;
    margin-top: 6vw;
    text-align: left;
  }

  .contact-form__form {
    flex: 0 0 56%;
  }

  .contact-form__group {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .contact-form__input,
  .contact-form__textarea {
    width: 100%;
    margin-top: 3vw;
  }

  .contact-form__input::placeholder,
  .contact-form__textarea::placeholder {
    font-size: 1.5vw;
    line-height: 2.5vw;
    height: 4vw;
  }

  .contact-form__textarea {
    height: 15vw;
  }

  .contact-form__button {
    align-self: flex-start;
    margin-top: 2vw;
    margin-bottom: 10vw;
    width: 13vw;
    font-size: 1.5vw;
    margin-left: 2.5vw;
  }

  .contact-form__button:hover {
    font-size: 1.5vw;
  }

  .contact-form__button:active {
    font-size: 1.5vw;
  }

  .contact-form__button :disabled {
    font-size: 1.5vw;
  }

  footer {
    padding: 1.5vw 0.5vw;
    display: flex;
    flex-direction: column;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .logo-container img {
    width: 1.5vw;
    margin: 1.5vw;
  }

  .footer_bottom_line {
    width: 22vw;
    height: 1vw;
    margin-top: 2vw;
    display: none;
  }

  /* popup */
  .popup {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 400px;
    width: 750px;
    max-height: 100%;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
  }

  button.popup-close {
    position: absolute;
    top: 23px;
    right: -14rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  .popup-header {
    font-size: 1.4rem;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
  }

  .popup-image {
    width: 5rem;
    margin-right: 1px;
  }

  .popup > .popup-description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 0.6rem;
    width: 50%;
    margin: 0.2rem -0.3rem 0 -1rem;
  }

  .popup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateX(6rem);
  }

  .popup-button {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 0.5rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    color: #fff;
    border: none;
    padding: 12px;
    height: 2.2rem;
    background: #ff6b00;
    position: relative;
    text-align: left;
    width: 100%;
    max-width: 120px;
    margin: -2.7rem -0.6rem 0.1rem 0;
  }

  .popup-button:hover {
    background-color: #fff;
    cursor: pointer;
    border: solid 0.063rem #943b00;
    font-family: 'Inter', serif;
    font-style: normal;
    color: #943b00;
  }

  .popup-button:active {
    background-color: #7a2d00;
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 1px 2px #000;
  }

  .popup-button:disabled {
    padding: 0.75rem;
    gap: 0.625rem;
    width: 8.203125rem;
    height: 3rem;
    background: #f4f1f0;
    font-weight: 1000;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    color: #5b5957;
    border: none;
    text-shadow: 1px 1px 2px #000;
  }

  .popup-technologies {
    list-style: none;
    padding: 0;
    width: 100%;
  }
}

/* Media query for large screens */
@media only screen and (min-width: 1215px) {
  .hamburger-icon.hidden {
    display: none;
  }

  .card-container {
    margin-bottom: 4rem;
  }

  .work-card:hover .button-card button {
    font-size: 2vw;
    line-height: 3vw;
    cursor: pointer;
    padding: 100px 60px;
  }

  .work-card:hover .button-card {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    transform: translateY(662%);
    width: 100vw;
    cursor: pointer;
  }

  .work-card:hover .work-cards-title,
  .work-card:hover .work-cards-description,
  .work-card:hover ul {
    display: none;
    cursor: pointer;
  }

  /* popup */
  .popup {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 400px;
    width: 750px;
    max-height: 100%;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
  }

  button.popup-close {
    position: absolute;
    top: 23px;
    right: -14rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  .popup-header {
    font-size: 1.4rem;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
  }

  .popup-image {
    width: 5rem;
    margin-right: 1px;
  }

  .popup > .popup-description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 0.6rem;
    width: 50%;
    margin: 0.2rem -0.3rem 0 -1rem;
  }

  .popup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateX(6rem);
  }

  .popup-button {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 0.5rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    color: #fff;
    border: none;
    padding: 12px;
    height: 2.2rem;
    background: #ff6b00;
    position: relative;
    text-align: left;
    width: 100%;
    max-width: 120px;
    margin: -2.7rem -0.6rem 0.1rem 0;
  }

  .popup-button:hover {
    background-color: #fff;
    cursor: pointer;
    border: solid 0.063rem #943b00;
    font-family: 'Inter', serif;
    font-style: normal;
    color: #943b00;
  }

  .popup-button:active {
    background-color: #7a2d00;
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 1px 2px #000;
  }

  .popup-button:disabled {
    padding: 0.75rem;
    gap: 0.625rem;
    width: 8.203125rem;
    height: 3rem;
    background: #f4f1f0;
    font-weight: 1000;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    color: #5b5957;
    border: none;
    text-shadow: 1px 1px 2px #000;
  }

  .popup-technologies {
    list-style: none;
    padding: 0;
    width: 100%;
  }

  ul.popup-technologies li {
    margin-bottom: 30px;
    margin-right: 10px;
    margin-top: -20px;
    padding: 5px;
    border: 1px solid black;
  }
}

/* Media query for large screens */
@media only screen and (min-width: 1366px) {
  .hamburger-icon.hidden {
    display: none;
  }

  .card-container {
    margin-bottom: 12rem;
  }

  .work-card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 327px;
    margin: 0;
  }

  .work-cards-title {
    font-size: 90%;
    line-height: 2vw;
    text-align: start;
    margin-left: 20px;
    margin-top: 140px;
    width: 75%;
  }

  .work-cards-description {
    font-size: 68%;
    line-height: 2vw;
    text-align: start;
    margin-left: 20px;
    width: 88%;
    margin-top: -22px;
    margin-bottom: 2px;
  }

  /* List items */
  .work-card li {
    font-size: 40%;
    line-height: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21%;
  }

  .work-card ul {
    margin-left: 11px;
    padding: 0;
    margin-top: 27px;
  }

  /* Button at the bottom of the card */
  .button-card {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    display: none;
  }

  .button-card button {
    font-size: 2vw;
    line-height: 3vw;
    cursor: pointer;
  }

  .work-card:hover .button-card button {
    font-size: 2vw;
    line-height: 3vw;
    cursor: pointer;
    padding: 100px 60px;
  }

  .work-card:hover .button-card {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    transform: translateY(662%);
    width: 100vw;
    cursor: pointer;
  }

  .work-card:hover .work-cards-title,
  .work-card:hover .work-cards-description,
  .work-card:hover ul {
    display: none;
    cursor: pointer;
  }

  /* popup */
  .popup {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 400px;
    width: 750px;
    max-height: 100%;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
  }

  button.popup-close {
    position: absolute;
    top: 23px;
    right: -13.5rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  .popup-header {
    font-size: 1.4rem;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
  }

  .popup-image {
    width: 5rem;
    margin-right: 1px;
  }

  .popup > .popup-description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 0.6rem;
    width: 50%;
    margin: 0.2rem -0.9rem 0 -1rem;
  }

  .popup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateX(6rem);
  }

  .popup-button {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 0.5rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    color: #fff;
    border: none;
    padding: 12px;
    height: 2.2rem;
    background: #ff6b00;
    position: relative;
    text-align: left;
    width: 100%;
    max-width: 120px;
    margin: -2.7rem -1.5rem 0.1rem 0;
  }

  .popup-button:hover {
    background-color: #fff;
    cursor: pointer;
    border: solid 0.063rem #943b00;
    font-family: 'Inter', serif;
    font-style: normal;
    color: #943b00;
  }

  .popup-button:active {
    background-color: #7a2d00;
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 1px 2px #000;
  }

  .popup-button:disabled {
    padding: 0.75rem;
    gap: 0.625rem;
    width: 8.203125rem;
    height: 3rem;
    background: #f4f1f0;
    font-weight: 1000;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    color: #5b5957;
    border: none;
    text-shadow: 1px 1px 2px #000;
  }

  .popup-technologies {
    list-style: none;
    padding: 0;
    width: 100%;
  }

  ul.popup-technologies li {
    margin-bottom: 30px;
    margin-right: 10px;
    margin-top: -20px;
    padding: 5px;
    border: 1px solid black;
  }
}

/* Media query for large screens */
@media only screen and (min-width: 1600px) {
  .hamburger-icon.hidden {
    display: none;
  }

  .card-container {
    margin-bottom: 12rem;
  }

  .work-cards-title {
    font-size: 90%;
    line-height: 2vw;
    text-align: start;
    margin-left: 20px;
    margin-top: 110px;
    width: 75%;
  }

  .work-card ul {
    margin-left: 11px;
    padding: 0;
    margin-top: 50px;
  }

  .work-card:hover .button-card button {
    font-size: 2vw;
    line-height: 3vw;
    cursor: pointer;
    padding: 100px 60px;
  }

  .work-card:hover .button-card {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    transform: translateY(662%);
    width: 100vw;
    cursor: pointer;
  }

  .work-card:hover .work-cards-title,
  .work-card:hover .work-cards-description,
  .work-card:hover ul {
    display: none;
    cursor: pointer;
  }

  /* popup */
  .popup {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 400px;
    width: 850px;
    max-height: 100%;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
  }

  button.popup-close {
    position: absolute;
    top: 23px;
    right: -15rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  .popup-header {
    font-size: 1.4rem;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
  }

  .popup-image {
    width: 5rem;
    margin-right: 1px;
  }

  .popup > .popup-description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 0.6rem;
    width: 50%;
    margin: 0.2rem -0.3rem 0 -1rem;
  }

  .popup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateX(6rem);
  }

  .popup-button {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 0.5rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    color: #fff;
    border: none;
    padding: 12px;
    height: 2.2rem;
    background: #ff6b00;
    position: relative;
    text-align: left;
    width: 100%;
    max-width: 130px;
    margin: -2.3rem -0.6rem 0.1rem 0;
  }

  .popup-button:hover {
    background-color: #fff;
    cursor: pointer;
    border: solid 0.063rem #943b00;
    font-family: 'Inter', serif;
    font-style: normal;
    color: #943b00;
  }

  .popup-button:active {
    background-color: #7a2d00;
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 1px 2px #000;
  }

  .popup-button:disabled {
    padding: 0.75rem;
    gap: 0.625rem;
    width: 8.203125rem;
    height: 3rem;
    background: #f4f1f0;
    font-weight: 1000;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    color: #5b5957;
    border: none;
    text-shadow: 1px 1px 2px #000;
  }

  .popup-technologies {
    list-style: none;
    padding: 0;
    width: 100%;
  }

  ul.popup-technologies li {
    margin-bottom: 30px;
    margin-right: 10px;
    margin-top: -20px;
    padding: 5px;
    border: 1px solid black;
  }
}

/* Media query for large screens */
@media only screen and (min-width: 1850px) {
  .hamburger-icon.hidden {
    display: none;
  }

  .card-container {
    margin-bottom: 15rem;
  }

  .work-cards-title {
    font-size: 90%;
    line-height: 2vw;
    text-align: start;
    margin-left: 20px;
    margin-top: 100px;
    width: 75%;
  }

  .work-card ul {
    margin-left: 11px;
    padding: 0;
    margin-top: 70px;
  }

  .work-card:hover .button-card button {
    font-size: 2vw;
    line-height: 3vw;
    cursor: pointer;
    padding: 100px 60px;
  }

  .work-card:hover .button-card {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    transform: translateY(662%);
    width: 100vw;
    cursor: pointer;
  }

  .work-card:hover .work-cards-title,
  .work-card:hover .work-cards-description,
  .work-card:hover ul {
    display: none;
    cursor: pointer;
  }

  /* popup */
  .popup {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 400px;
    width: 850px;
    max-height: 100%;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
  }

  button.popup-close {
    position: absolute;
    top: 23px;
    right: -14rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  .popup-header {
    font-size: 1.4rem;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
  }

  .popup-image {
    width: 5rem;
    margin-right: 1px;
  }

  .popup > .popup-description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 0.6rem;
    width: 50%;
    margin: 0.2rem -0.3rem 0 -1rem;
  }

  .popup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateX(6rem);
  }

  .popup-button {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 0.5rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    color: #fff;
    border: none;
    padding: 12px;
    height: 2.2rem;
    background: #ff6b00;
    position: relative;
    text-align: left;
    width: 100%;
    max-width: 130px;
    margin: -2.3rem -0.6rem 0.1rem 0;
  }

  .popup-button:hover {
    background-color: #fff;
    cursor: pointer;
    border: solid 0.063rem #943b00;
    font-family: 'Inter', serif;
    font-style: normal;
    color: #943b00;
  }

  .popup-button:active {
    background-color: #7a2d00;
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 1px 2px #000;
  }

  .popup-button:disabled {
    padding: 0.75rem;
    gap: 0.625rem;
    width: 8.203125rem;
    height: 3rem;
    background: #f4f1f0;
    font-weight: 1000;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    color: #5b5957;
    border: none;
    text-shadow: 1px 1px 2px #000;
  }

  .popup-technologies {
    list-style: none;
    padding: 0;
    width: 100%;
  }

  ul.popup-technologies li {
    margin-bottom: 30px;
    margin-right: 10px;
    margin-top: -20px;
    padding: 5px;
    border: 1px solid black;
  }
}
